<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.utd.surfaceareaandvolumegeometry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".vol_prism_activity" />
        <activity android:name=".vol_pyramid_activity" />
        <activity android:name=".vol_cylinder_activity" />
        <activity android:name=".vol_cone_activity" />
        <activity android:name=".vol_circle_activity" />
        <activity android:name=".area_prism_activity" />
        <activity android:name=".area_pyramid_activity" />
        <activity android:name=".area_cylinder_activity" />
        <activity android:name=".area_cone_activity" />
        <activity android:name=".area_circle_activity"></activity>
    </application>

</manifest>